@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --small-height: 36px;
    --neutral-color: #64748b !important;
    --neutral-50: #f8fafc;
    --neutral-100: #f1f5f9;
    --neutral-200: #e2e8f0;
    --neutral-300: #cbd5e1;
    --neutral-400: #94a3b8;
    --neutral-500: #8d97a6;
    --neutral-600: #475569;
    --neutral-700: #334155 !important;
    --neutral-800: #1e293b !important;
    --neutral-900: #0f172a;
    --neutral-gray-50: #f8fafc;
    --primary-background-color: #f6f8fb;
    --primary-background-content-color: #fff;
    --primary-border-color: #cbd5e1;
    --error-color: #ef4444;
  }
.h3-semibold {
    font-weight: 600;
    font-size: 33px;
    line-height: 40px;
    letter-spacing: -2%
}
.h4-small-semibold,.h5-semibold {
    font-weight: 600;
    font-size: 23px;
    line-height: 28px;
    letter-spacing: -2%
}
.text-sm {
    font-size: .875rem;
    line-height: 22px
}
.text-neutral-400 {
    --tw-text-opacity: 1;
    color: rgb(148 163 184/var(--tw-text-opacity))
}

.text-neutral-50 {
    --tw-text-opacity: 1;
    color: rgb(248 250 252/var(--tw-text-opacity))
}

.text-neutral-500 {
    --tw-text-opacity: 1;
    color: rgb(100 116 139/var(--tw-text-opacity))
}

.text-neutral-600 {
    --tw-text-opacity: 1;
    color: rgb(71 85 105/var(--tw-text-opacity))
}

.text-neutral-700 {
    --tw-text-opacity: 1;
    color: rgb(51 65 85/var(--tw-text-opacity))
}

.text-neutral-800 {
    --tw-text-opacity: 1;
    color: rgb(30 41 59/var(--tw-text-opacity))
}

.text-neutral-900 {
    --tw-text-opacity: 1;
    color: rgb(15 23 42/var(--tw-text-opacity))
}
.text-xl {
    font-size: 1.25rem
}

.text-xs {
    font-size: 12px;
    line-height: 20px
}

.text-primary_1 {
    font-size: 14px;
    line-height: 150%
}
.item-flex-center {
    display: flex;
    justify-content: center;
    align-items: center
}
.text-bold {
    font-weight: 600
}

.text-400 {
    font-weight: 400
}

.text-500 {
    font-weight: 500
}

.text-600 {
    font-weight: 600
}

.text-700 {
    font-weight: 700
}

.gap-16 {
    gap: 16px
}
.color-neutral-400 {
    color: var(--neutral-400)
}

.color-neutral-500 {
    color: var(--neutral-500)
}

.color-neutral-600 {
    color: var(--neutral-600)
}

.color-neutral-700 {
    color: var(--neutral-700)
}

.color-neutral-800 {
    color: var(--neutral-800)
}

.color-neutral-900 {
    color: var(--neutral-900)!important
}

.color-error {
    color: var(--error-color)!important
}

.smallButton {
    height: var(--small-height)!important;
    max-height: var(--small-height)!important;
    min-width: var(--small-height);
    padding: 0 12px!important;
    box-shadow: none!important;
    gap: 6px
}

.smallButton>span {
    font-size: 12px!important
}

.smallButton>span>svg {
    font-size: 18px
}

.ant-form-item .ant-form-item-label >label {
    position: relative;
    display: inline-flex;
    align-items: center;
    max-width: 100%;
    height: 20px;
    color: #94A3B8;
    font-size: 12px;
}